/** Fonts variables **/
$font-size-default: 16px;
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;

/** Colors variables **/
$color-bg: #444444;
$color-bg-secondary: #222222;
$color-fg: #ffffff;