{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}
    <h1>{{ appConfig.getAppTitle() }}</h1>
    <p>Parce que moi, je le trouve classe :)</p>
{% endblock %}
