<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{% endblock %} - {{ appConfig.getAppName() }}</title>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/styles.min.css') }}" />
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'layout/header.html.twig' %}

        <main class="app-main">
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
